<div class="container mt-5 mb-5">
  <h1 class="text-center">About Us</h1>
  <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea minus rerum consequuntur eligendi dolorum
    veniam accusamus provident tenetur nesciunt? Quos vero ex officia eos quo earum enim quod inventore harum quam
    blanditiis explicabo sit reiciendis neque perferendis rerum, odit id tenetur, quis libero. Aut quod deserunt in
    nihil aliquid? Aliquam vitae dolor, magnam autem voluptas earum molestias natus saepe possimus sunt quos, quia
    ea. Commodi, consectetur repellat sapiente culpa at earum dolorum tempora sit odit repudiandae magni tenetur
    fuga ullam? Tenetur sequi sunt dolore iusto. Quaerat tempora quasi at alias quod veritatis, repellat non.
    Molestias maxime eaque modi pariatur eius!</p>
  <br>


  <div class="container secondContainer mb-5">
    <h2 class="text-center">A Few Words About</h2>
    <h1 class="text-center">Our Team</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fuga eos non maxime voluptatibus reprehenderit
      quo possimus? Suscipit consectetur sed iusto commodi, officiis delectus laboriosam ut ipsum repellat,
      assumenda veniam corrupti doloribus, iste cupiditate praesentium saepe tempora deleniti accusamus beatae
      officia eveniet. Doloribus beatae error tenetur dolores modi recusandae reiciendis itaque necessitatibus,
      atque repellat? Possimus officiis voluptatem enim eaque sed aliquid molestiae aut deleniti ducimus vero?
      Eos, consequuntur! Ipsam commodi voluptatum, error quasi voluptas non aperiam sapiente, est, ea iusto odit
      numquam temporibus? Saepe quam, aut error non, dolorem quidem at consequatur quas itaque ut minus?
      Cupiditate cum consequatur harum.
    </p>


  </div>

  <div class="row">
    <div class="col-md-4 p-2 ">
      <div class="card">
        <img src="/assets/about.png" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu rutrum turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="card">
        <img src="/assets/about.png" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu rutrum turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="card">
        <img src="/assets/about.png" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu rutrum turpis.</p>
        </div>
      </div>
    </div>
  </div>


</div>