<footer class="footer navbar-dark bg-primary text-light ">
  <div class="px-3 py-4 ">
    <div class="row  ">
      <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quod, corporis nulla eligendi recusandae
          Quisquam quod, corporis nulla eligendi recusandae Quisquam quod, corporis nulla eligendi recusandae Quisquam
          quod, corporis nulla eligendi
          facere, est accusamus culpa ullam tempora!</p>
      </div>
      <div class=" col-lg-2 col-md-6 col-sm-6 col-4 mt-4 ">
        <h4>Links</h4>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white"> Home</a></li>
          <li><a routerLink="/layout/about-us" class="text-white"> About</a></li>
          <li><a routerLink="/layout/contact-us" class="text-white"> Contact</a></li>
          <li><a routerLink="/cart/cartData" class="text-white"> Cart</a></li>
        </ul>
      </div>
      <div class=" col-lg-2 col-md-6 col-sm-6 col-8 mt-4">
        <h4>Follow Us</h4>
        <ul class="list-unstyled">
          <li> <a href="#"><i class="fab fa-facebook text-white"></i></a> <-- Facebook </li>
          <li> <a href="#"><i class="fab fa-twitter text-white"></i></a> <-- Twitter</li>
          <li><a href="#"><i class="fab fa-instagram text-white"></i></a> <-- Instagram </li>
          <li><a href="#"><i class="fab fa-linkedin-in text-white"></i></a> <-- Linkdin </li>

        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </div>
</footer>




